@import url("./normalize.css");
@font-face {
  font-family: 'HelveticaRegular';
  src: url(../fonts/HelveticaRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal; }

.html, body {
  margin-top: 0;
  margin-left: 0;
  width: 100%;
  height: 100%; }

.body {
  margin-left: 0;
  margin-top: 0;
  position: relative;
  font-family: Helvetica, sans-serif; }

.page {
  position: relative;
  overflow: hidden;
  height: 100vh;
  min-height: 40.625rem;
  min-width: 18.75rem;
  width: 100%;
  background: url(../img/bc-enter.png) center center/cover no-repeat;
  background-size: cover;
  margin: 0 auto; }

.content {
  margin: 0 auto; }

.wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 5rem;
  background: #050b47; }

.header {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 63.75rem;
  min-width: 18.75rem;
  width: 95%; }

.header-container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: static;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 5rem;
  margin: 0 auto; }

.header-logo {
  padding-left: 3rem;
  padding-top: .65rem; }
  @media (max-width: 480px) {
    .header-logo {
      padding-left: 1rem;
      padding-top: .45rem; } }

.header-menu {
  padding-top: 1.0625rem;
  position: relative;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%; }

.nav {
  vertical-align: middle;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }

.nav__list {
  list-style: none;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 3rem;
  font-family: 'HelveticaRegular', sans-serif; }

.nav__list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 3rem; }

.item-link {
  color: white;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  vertical-align: middle;
  font-size: 14px;
  text-decoration: none;
  font-family: 'HelveticaRegular', sans-serif;
  white-space: nowrap; }
  .item-link:hover {
    text-decoration: underline; }
  @media (max-width: 480px) {
    .item-link {
      font-size: 11px; } }

.item-buy {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  line-height: 0.001rem; }

.item-add {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  line-height: 0.01rem; }

.btn__enter {
  color: #d9d9d9;
  text-decoration: none;
  font-family: 'HelveticaBold', sans-serif;
  border: 2px solid #595c7a;
  border-radius: 0.3125rem;
  padding: 6px 6px;
  font-size: 13px; }

.container {
  margin-top: 3rem; }

.container-main {
  max-width: 63.75rem;
  min-width: 18.75rem;
  width: 95%;
  margin: 0 auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.breadcrumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.breadcrumbs__item {
  padding-right: 1rem;
  list-style: none; }

.breadcrumbs__item-special:after {
  content: "/";
  color: #a6eaed; }

.breadcrumbs__link {
  text-decoration: none;
  color: #a6eaed;
  font-family: 'HelveticaRegular', sans-serif;
  font-size: 16px; }
  @media (max-width: 480px) {
    .breadcrumbs__link {
      font-size: 14px; } }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 4rem; }

.form-container {
  width: 30rem;
  height: 17rem;
  background-color: white;
  border-radius: 3px; }
  @media (max-width: 768px) {
    .form-container {
      width: 28rem; } }
  @media (max-width: 480px) {
    .form-container {
      width: 24rem;
      height: 17rem; } }

.form-container-main {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 2rem;
  margin-top: 2rem;
  margin-right: 2rem; }
  @media (max-width: 480px) {
    .form-container-main {
      margin-left: 1rem;
      margin-top: 1rem;
      margin-right: 1rem; } }

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1.5rem; }
  @media (max-width: 480px) {
    .form__row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.form__block {
  padding-right: 2rem; }

@media (max-width: 480px) {
  .form__block__phones {
    margin-top: 1rem; } }

.form__label {
  color: #181d50;
  font-size: 14px;
  font-family: Helvetica, sans-serif; }

.form__input {
  border-radius: 3px;
  border: 2px solid #ebebeb;
  height: 25px;
  width: 22rem;
  margin-top: 0.3rem;
  font-size: 14px;
  color: #595c7a;
  font-family: Helvetica, sans-serif;
  padding-left: 0.5rem; }
  @media (max-width: 480px) {
    .form__input {
      width: 18rem; } }

.form__input-pass {
  width: 14rem; }

.form__button {
  margin-top: 1rem;
  text-align: end; }

.form__button__next {
  background-color: #a6eaed;
  color: #181d50;
  text-decoration: none;
  font-family: 'HelveticaBold', sans-serif;
  border: 2px;
  border-radius: 0.3125rem;
  padding: 8px 20px;
  font-size: 13px; }
  .form__button__next:hover {
    opacity: 0.8; }

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1.5rem;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }
  @media (max-width: 480px) {
    .buttons {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-top: 2.5rem; } }

.buttons__link {
  width: 50%;
  cursor: pointer; }
  @media (max-width: 480px) {
    .buttons__link {
      width: 100%;
      margin-top: 0.4rem; } }

.buttons__link-special {
  text-align: end; }
  @media (max-width: 480px) {
    .buttons__link-special {
      margin-top: -1.1rem; } }

.profile-link {
  text-decoration: none;
  font-family: 'HelveticaRegular', sans-serif;
  font-size: 10px;
  color: #acacac;
  cursor: pointer; }

.form__line {
  margin-top: 0.8rem;
  text-align: end;
  margin-left: 10rem; }
  @media (max-width: 480px) {
    .form__line {
      margin-right: 7.3rem; } }

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7); }

.modal-content {
  background-color: aliceblue;
  margin: 15%  auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%; }

.close {
  float: right;
  font-size: 30px;
  cursor: pointer; }

.close-text {
  font-family: Helvetica, sans-serif;
  color: #181d50; }

.link__enter {
  text-decoration: none;
  font-family: 'HelveticaRegular', sans-serif;
  font-size: 13px;
  color: #050b47;
  cursor: pointer; }

.link {
  background-color: #a6eaed;
  color: #181d50;
  text-decoration: none;
  font-family: 'HelveticaBold', sans-serif;
  border: 2px;
  border-radius: 0.3125rem;
  padding: 8px 25px;
  font-size: 13px; }
  .link:hover {
    opacity: 0.8; }
