@import url("./normalize.css");
@font-face {
  font-family: 'HelveticaRegular';
  src: url(../fonts/HelveticaRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal; }

.html, body {
  margin-top: 0;
  margin-left: 0;
  width: 100%;
  height: 100%; }

.body {
  margin-left: 0;
  margin-top: 0;
  width: 100%;
  height: 100%;
  position: relative;
  font-family: Helvetica, sans-serif; }

.page {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 40.625rem;
  min-width: 18.75rem;
  background: url(../img/bc-step.png) center center/cover no-repeat;
  background-size: cover;
  margin: 0 auto; }

.content {
  margin: 0 auto; }

.wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 5rem;
  background: #050b47; }

.header {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 63.75rem;
  min-width: 18.75rem;
  width: 95%; }

.header-container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: static;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 5rem;
  margin: 0 auto; }

.header-logo {
  padding-left: 3rem;
  padding-top: .65rem; }
  @media (max-width: 480px) {
    .header-logo {
      padding-left: 1rem;
      padding-top: .45rem; } }

.header-menu {
  padding-top: 1.0625rem;
  position: relative;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%; }

.nav {
  vertical-align: middle;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }

.nav__list {
  list-style: none;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 3rem;
  font-family: 'HelveticaRegular', sans-serif; }

.nav__list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 3rem; }

.item-link {
  color: white;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  vertical-align: middle;
  font-size: 14px;
  text-decoration: none;
  font-family: 'HelveticaRegular', sans-serif;
  white-space: nowrap; }
  .item-link:hover {
    text-decoration: underline; }
  @media (max-width: 480px) {
    .item-link {
      font-size: 11px; } }

.item-buy {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  line-height: 0.001rem; }

.item-add {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  line-height: 0.01rem; }

.btn__enter {
  color: #d9d9d9;
  text-decoration: none;
  font-family: 'HelveticaBold', sans-serif;
  border: 2px solid #595c7a;
  border-radius: 0.3125rem;
  padding: 6px 6px;
  font-size: 13px; }

.container {
  margin-top: 3rem; }

.container-main {
  max-width: 63.75rem;
  min-width: 18.75rem;
  width: 95%;
  margin: 0 auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.breadcrumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.breadcrumbs__item {
  padding-right: 1rem;
  list-style: none; }

.breadcrumbs__item-special:after {
  content: "/";
  color: #a6eaed; }

.breadcrumbs__link {
  text-decoration: none;
  color: #a6eaed;
  font-family: 'HelveticaRegular', sans-serif;
  font-size: 16px; }
  @media (max-width: 480px) {
    .breadcrumbs__link {
      font-size: 14px; } }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: -0.6rem;
  margin-bottom: 5rem; }

.form-container {
  width: 36rem;
  height: 35rem;
  background-color: white;
  border-radius: 3px; }
  @media (max-width: 768px) {
    .form-container {
      width: 38rem; } }
  @media (max-width: 480px) {
    .form-container {
      width: 25rem;
      height: 39rem; } }

.form-container-main {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 2rem;
  margin-top: 2rem;
  margin-right: 2rem; }
  @media (max-width: 480px) {
    .form-container-main {
      margin-left: 1rem;
      margin-top: 1rem;
      margin-right: 1rem; } }

.form-title {
  text-align: center;
  color: #181d50;
  font-size: 22px;
  font-family: Helvetica, sans-serif; }
  @media (max-width: 480px) {
    .form-title {
      font-size: 20px; } }

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem; }
  @media (max-width: 480px) {
    .form__row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

@media (max-width: 480px) {
  .form__row-special {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; } }

.form__block {
  padding-right: 2rem; }

@media (max-width: 480px) {
  .form__block-uniqe {
    margin-top: 1rem; } }

.form__label {
  color: #181d50;
  font-size: 14px;
  font-family: Helvetica, sans-serif; }

.form__input {
  border-radius: 3px;
  border: 2px solid #ebebeb;
  height: 25px;
  width: 12rem;
  margin-top: 0.3rem;
  font-size: 14px;
  color: #595c7a;
  font-family: Helvetica, sans-serif;
  padding-left: 0.5rem; }

.form__input-special {
  width: 3rem; }

.form__select {
  border-radius: 1px;
  border: 2px solid #ebebeb;
  background-color: white;
  height: 31px;
  width: 12rem;
  margin-top: 0.3rem;
  font-size: 14px;
  color: #595c7a;
  font-family: Helvetica, sans-serif; }

.form-second-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #a6eaed;
  font-size: 18px;
  font-family: Helvetica, sans-serif;
  margin-top: 2rem; }

.form-container-main-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }
  @media (max-width: 480px) {
    .form-container-main-second {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse; } }

.form-second-block {
  margin-right: 3rem; }
  @media (max-width: 480px) {
    .form-second-block {
      margin-right: 0rem; } }

@media (max-width: 480px) {
  .form-second-block-special {
    margin-left: 0.8rem; } }

.form-second-img {
  width: 100%;
  margin-top: 2rem; }

.form__button {
  margin-top: 1rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.form__button-back {
  width: 50%; }

.btn__back-link {
  color: #acacac;
  font-family: Helvetica, sans-serif;
  font-size: 13px;
  text-decoration: none; }
  .btn__back-link:hover {
    text-decoration: underline; }

.form__button-pay {
  text-align: end;
  width: 50%; }

.form__button__next {
  background-color: #a6eaed;
  color: #181d50;
  text-decoration: none;
  font-family: 'HelveticaBold', sans-serif;
  border: 2px;
  border-radius: 0.3125rem;
  padding: 8px 20px;
  font-size: 13px; }
  .form__button__next:hover {
    opacity: 0.8; }

.planets {
  margin-bottom: 0.3rem; }
  @media (max-width: 480px) {
    .planets {
      margin-top: 0.3rem; } }

.planet-img {
  height: 3rem;
  padding-right: 6rem; }
