//breakponts
$tablets: 768px;
$phones: 480px;
@import "./media.scss";
@import url("./normalize.css");
@font-face{
    font-family: 'HelveticaRegular';
    src: url(../fonts/HelveticaRegular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}
.html,body{
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    height: 100%; 
}
.body{
    margin-left: 0;
    margin-top: 0;
    position: relative;
    font-family: Helvetica, sans-serif;
}
.page{
    position: relative;
    overflow: hidden;
    height: 100vh;
    min-height: 40.625rem; 
    min-width: 18.75rem;
    width: 100%; 
    background: url(../img/bc-step.png) center center / cover no-repeat;
    background-size: cover; 
    margin: 0 auto;
}
.content{
   
    margin: 0 auto;
   
}
.wrapper{
  position: relative;
  width: 100%; 
  margin: 0 auto;
  height: 5rem;
  background: #050b47;
}
.header{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 63.75rem;
    min-width: 18.75rem;
    width: 95%;
   
}
.header-container{
    align-items: center;
    position: static;
    display: flex;
    width: 100%;
    height: 5rem;
    margin: 0 auto;
}
.header-logo{
    padding-left: 3rem;
    padding-top: .65rem;
    @include phones{
        padding-left: 1rem;
        padding-top: .45rem;
    }
}
.header-menu{
    padding-top: 1.0625rem;
    position: relative;
    text-align: right;
    display: flex;
    flex:1;
    align-items: center;
    width: 100%;
  }
  .nav{
      vertical-align: middle;
      width: 100%;
      display: flex;
      flex-direction: row-reverse;
  }
  .nav__list{
      list-style: none;
      text-decoration: none;
      display: flex;
      align-items: center;
      margin-right: 3rem;
      font-family: 'HelveticaRegular', sans-serif;
  }
  .nav__list__item{
    display: flex;
    align-items: center;
    padding-right: 3rem;
}
    .item-link{
        color:white;
        text-decoration: none;
        display: flex;
        align-items: center;
        vertical-align: middle;
        font-size: 14px;
        text-decoration: none;
        font-family: 'HelveticaRegular', sans-serif;
        white-space: nowrap;
      
        &:hover{
            text-decoration: underline;
        }
        @include phones{
            font-size: 11px;
        }
    
    }
    .item-buy{
        flex-direction: column;
        line-height: 0.001rem;
    }
    .item-add{
        flex-direction: column;
        line-height: 0.01rem;
    }
    .btn__enter{
        color: #d9d9d9;
        text-decoration: none;
        font-family: 'HelveticaBold', sans-serif;
        border: 2px solid #595c7a;
        border-radius: 0.3125rem;
        padding: 6px 6px;
        font-size: 13px;
    }
.container{
    margin-top: 3rem;
}
.container-main{
    max-width: 63.75rem;
    min-width: 18.75rem;
    width: 95%;
    margin: 0 auto;
    justify-content: space-between;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.planets{
    margin-top: 0.5rem;
    margin-bottom: 0.8rem;
    @include phones{
        margin-top: 0.3rem;
    }
    }
    .planet-img{
        height: 4rem;
        padding-right: 5rem;
        @include tablets{
            padding-right: 1.5rem;
        }
       @include phones{
        height: 2.5rem;
       }
    }
.content-main{
    width: 35rem;
    height: 13rem;
    background-color: white;
    border-radius: 3px;
    @include tablets{
        width: 30rem;
    }
    @include phones{
        width: 21rem;
        height: 10rem;
    }
}
.main-block{
    margin-top: 2rem;
    margin-left: 2rem;
    display: flex;
    align-items: center;
}
.main-block-title{
    font-size:48px;
    color: #050b47;
    font-family:Helvetica, sans-serif;
    padding-right: 3rem;
}
.main-block-img{
    width: 3rem;
    height: 3rem;
}
.main-block-text{
    font-size:24px;
    color: #050b47;
    font-family: 'HelveticaRegular', sans-serif;
}
.buttons{
    display: flex;
    margin-top: 1.5rem;
    width: 100%;
    flex-direction: row;
    @include phones{
        flex-direction: column;
    }
}
.buttons__link{
    width: 35%;
    @include phones{
        width: 100%;
        margin-top: 0.4rem;
    }
}
.buttons__link-special{
    text-align: end;
    @include phones{
        margin-top: -1.8rem;
    }
}
.profile-link{
    text-decoration: none;
    font-family: 'HelveticaRegular', sans-serif;
    font-size:13px;
    color:#acacac;
    &:hover{
        text-decoration: underline;
    } 
}
.link{
    background-color: #a6eaed;
    color: #181d50;
    text-decoration: none;
    font-family: 'HelveticaBold', sans-serif;
    border: 2px;
    border-radius: 0.3125rem;
    padding: 8px 20px;
    font-size: 13px;
    &:hover{
        opacity: 0.8;
    }
}