//breakponts
$tablets: 768px;
$phones: 480px;
@import "./media.scss";
@import url("./normalize.css");
@font-face{
    font-family: 'HelveticaRegular';
    src: url(../fonts/HelveticaRegular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}
.html,body{
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    height: 100%; 
}
.body{
    margin-left: 0;
    margin-top: 0;
    width: 100%;
    height: 100%; 
    position: relative;
    font-family: Helvetica, sans-serif;
}
.page{
    position: relative;
    background-color: #050b47;
    width: 100%;
    height: 100%; 
    min-height: 40.625rem; 
    min-width: 18.75rem;
    margin: 0 auto;
}
.content{
    margin: 0 auto;
}
.wrapper{
  position: relative;
  width: 100%; 
  margin: 0 auto;
  height: 5rem;
  background: #050b47;
}
.header{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 63.75rem;
    min-width: 18.75rem;
    width: 95%;
   
}
.header-container{
    align-items: center;
    position: static;
    display: flex;
    width: 100%;
    height: 5rem;
    margin: 0 auto;
}
.header-logo{
    padding-left: 3rem;
    padding-top: .65rem;
    @include phones{
        padding-left: 1rem;
        padding-top: .45rem;
    }
}
.header-menu{
    padding-top: 1.0625rem;
    position: relative;
    text-align: right;
    display: flex;
    flex:1;
    align-items: center;
    width: 100%;
  }
  .nav{
      vertical-align: middle;
      width: 100%;
      display: flex;
      flex-direction: row-reverse;
  }
  .nav__list{
      list-style: none;
      text-decoration: none;
      display: flex;
      align-items: center;
      margin-right: 3rem;
      font-family: 'HelveticaRegular', sans-serif;
  }
  .nav__list__item{
    display: flex;
    align-items: center;
    padding-right: 3rem;
}
    .item-link{
        color:white;
        text-decoration: none;
        display: flex;
        align-items: center;
        vertical-align: middle;
        font-size: 14px;
        text-decoration: none;
        font-family: 'HelveticaRegular', sans-serif;
        white-space: nowrap;
      
        &:hover{
            text-decoration: underline;
        }
        @include phones{
            font-size: 11px;
        }
    
    }
    .item-buy{
        flex-direction: column;
        line-height: 0.001rem;
    }
    .item-add{
        flex-direction: column;
        line-height: 0.01rem;
    }
    .btn__enter{
        color: #d9d9d9;
        text-decoration: none;
        font-family: Helvetica, sans-serif;
        border: 2px solid #595c7a;
        border-radius: 0.3125rem;
        padding: 6px 6px;
        font-size: 13px;
    }
.main__content{
    width: 100%;
    margin: 0 auto;
    margin-top: -1rem;
}
.main__content__section{
    width: 100%;
}
.section__first{
    background: url(../img/sky.png) center center/cover no-repeat;
    height: 75vh;
   padding-top: 5rem;
   position: relative;
}
.section__first__container{
    display: flex;
    flex-direction: row;
   
}

.section__first__text{
    padding-top: 10rem;
    margin-left: 7rem;
font-family: Helvetica, sans-serif;
color: #050b47;
font-size: 37px;
width: 30%;
text-align: center;
@include tablets{
    margin-left: 4rem;
    padding-top: 7rem;
    width: 11%;
}
@include phones{
    padding-top: 0rem;
    width: 0%;
    font-size: 28px;
}
}
.section__first__extra{
    text-align: center;
    padding-top: 4rem;
    margin-right: 1rem;
    @include tablets{
        padding-top: 2rem;
    }
}
.section__first__planet{
    width: 40%;
    flex-direction: row-reverse;
    overflow: hidden;
}
.first__extra-text{
    font-family: 'HelveticaRegular', sans-serif;
color: white;
font-size: 16px;

}
.first__extra-link{
margin-top: .7rem;

}
.arrow-img{
    width: 3rem;
    cursor: pointer;
   
}
.lines-way-img{
    @include phones{
        width: 15rem;
        height: 23rem;
    }
}
.img-purple{
    width: 35rem;
    @include tablets{
        width: 25rem;
    }
}
.section__first__waves{
    position: absolute;
    background: url(../img/waves-1.png)center center/cover no-repeat;
    width: 100%;
    margin-top: -14rem;
    display: flex;
}
.first-cloud1{
    width: 30%;
    margin-top: -5rem;
    margin-right: 40%;
    @include tablets{
        margin-top: 1rem;
    }
    @include phones{
        margin-top: 8rem;
    }
}
.clouds{
    width: 30%;
    text-align: end;
    overflow: hidden;
    padding-bottom: 11rem;
    margin-top: -4rem;
}
.cloud-img{
    width: 21rem;
    @include tablets{
        width: 11rem;
    }
    
}
.cloud2-img{
    width: 33rem;
}
.first-cloud3{
    margin-top: -3rem;
    margin-right: 3rem;
}

.section {
    background-color: #050b47;
    padding-top: 10rem;
    height: 110vh;
    @include tablets{
        height: 116vh;
    }
    @include phones{
        height: 141vh;
    }
}

.section__container{
    margin:  0 auto;
    max-width: 63.75rem;
    min-width: 18.75rem;
    width: 90%;
}

.section__container-content{
    display: flex;
    flex-direction: row;
    @include phones{
        flex-direction: column;
    }
}

.block-planet{
    margin-right: 5rem;
    @include tablets{
        margin-right: 1rem;
    }
    @include phones{
text-align: center;
    }
}
.merc-img{
    width: 20rem;
    @include tablets{
        width: 14rem;
    }
}
.block-text{
font-family:  Helvetica, sans-serif;
}
.section__container-title{
color: #ef3b6b;
font-size: 30px;
text-align: center
}
.section__container-desc{
    margin-top: 1rem;
    color: #fba1ba;
    font-size:18px;
}
.section__container-paragr{
    margin-top: 1.6rem;
    font-family: 'HelveticaRegular', sans-serif;
    color:#ebebeb;
    font-size: 16px;
}
.char-title{
    margin-top: 2rem;
    color: #fba1ba;
    font-size:18px;
}
.char-list{
    list-style: none;
    padding-inline-start: 0px;
    margin-bottom: .5rem;
}
.char-item{
  
    font-family: 'HelveticaRegular', sans-serif;
    color:#ebebeb;
    font-size: 16px;
}
.btn-merc{
    margin: 0 auto;
    width: 55%;
    text-align: center;
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
    font-family:  Helvetica, sans-serif;
}
.section__container-btn-text{
    color: #ebebeb;
    font-size:16px;

}
.text-special{
    color: #fba1ba;
}
.section__container-btn-link{
    margin-left: 2rem;
}
.section-link{
    color: #a6eaed;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    border: 2px solid #d9d9d9;
    border-radius: 0.3125rem;
    padding: 6px 8px;
    font-size: 16px;
    &:hover{
        color: #050b47;
        background-color: #a6eaed;
    }
    @include tablets{
        display: flex;
    }
}
.section__palm{
  margin-top: 2rem;
    background: url(../img/waves-merc.png)center center/cover no-repeat;
    width: 100%;
}
.palm__container{
    margin:  0 auto;
    max-width: 63.75rem;
    min-width: 18.75rem;
    width: 90%;
    display: flex;
    flex-direction: row;
    padding-bottom: 11rem
}
.palm1{
    width: 50%;
   
}
.palm1-img{
    @include tablets{
       width: 10rem;
    }
    @include phones{
       width: 7rem;
       margin-top: 3rem;
    }
}
.palms{
    display: flex;
    flex-direction: row;
    width: 50%;
}
.cow__merc{
    margin-top: 8rem;
}
.cow-merc-img{
    @include tablets{
    width: 10rem;
    }
    @include phones{
    width: 8rem;
    }
   
}
.palm2{
    margin-top: -2rem;
    @include tablets{
        margin-top: 0rem;
    }
   
}
.palm2-img{
     @include tablets{
    width: 10rem;
}
@include phones{
    margin-top: 3.5rem;
    width: 7rem;
}
}

.section-moon{
    margin-top: 4rem;
    padding-top:4rem;
    height: 87vh;
    @include tablets{
        height: 97vh;
    }
    @include phones{
        height: 127vh;
    }
   
 }
.palm-moon{
    margin-top: 5rem;
      background: url(../img/поверхность.png)center center/cover no-repeat;
      width: 100%;
  }
 
  .title-moon{
      color: #a6eaed;
      text-align: start;
      padding-left: 2rem;
      @include phones{
       text-align: center;
       padding-left: 0rem;
      }
  }
  .desc-moon{
    color: #a6eaed;
  }
  .block-text-moon{
    margin-right: 5rem;
    @include phones{
        margin-right: 0rem;
    }
  }
  .block-planet-moon{
      margin-right: 0rem;
  }
  .char-title-moon{
    color: #a6eaed;
  }
  .text-special-moon{
    color: #a6eaed;
  }
.btn-moon{
    width: 100%;
    text-align: end;
    align-items: end;
    @include phones{
        margin: 0 auto;
        width: 55%;
        text-align: center;
        display: flex;
        flex-direction: row;
        margin-top: 5rem;
    }
}
.content-moon{
    flex-direction: row-reverse;
    @include phones{
        flex-direction: column;
    }
}
  .btn-text-moon{
      width: 74%;
  }
  .btn-text-moon{
      width: 74%;
  }
  .container__moon{
    width: 55%;
    padding-bottom: 5rem;
  }
  .cow-moon-img{
      width: 15rem;
      margin-top: -5rem;
      @include phones{
          width: 11rem;
          margin-top: -1rem;
      }
  }
  .section-mars{
      background-color: #fba1ba;
      padding-top: 4rem;
      height: 87vh;
      @include tablets{
          height: 99vh;
      }
      @include phones{
          height: 127vh;
          margin-top: -2rem;
      }
  }
  .container-title-mars{
      color: #050b47;
  }
  .desc-mars{
      color: #050b47;
      text-align: center;
  }
  .char-title-mars{
    color: #050b47;
  }
  .text-special-mars{
    color: #050b47; 
  }
  .section-link-mars{
    color: #050b47;
    border: 2px solid #a6eaed;
    &:hover{
        color: #ebebeb;
        background-color: #050b47;
        border: 2px solid #050b47;
    }
  }
  .palm-mars{
  position: absolute;
      background: url(../img/mars-waves.png)center center/cover no-repeat;
      width: 100%;
     
  }
  .container-mars{
    padding-top: 0rem;
    padding-bottom: 4rem;
 
  }
  .cow-mars{
      width: 13rem;
  }
  .section-sat{
      background: url(../img/rings-sat.png)center center/cover no-repeat;
      overflow: hidden;
      margin-top: -3rem;
  }
  .section-container-sat{
      margin-top: 5rem;
  }
  .container-title-sat{
      color: #fdf0c0;
  }
  .container-desc-sat{
    color: #fdf0c0;
  }
  .char-title-sat{
    color: #fdf0c0;
  }
  .palm-sat{
      display: flex;
      flex-direction: row-reverse;
      background: none;
  }
  .btn-sat{
      text-align: start;
      width: 100%;
      @include phones{
        margin: 0 auto;
        width: 55%;
        text-align: center;
        display: flex;;
        flex-direction: row;
        margin-top: 5rem
      }
  }
  .btn-text-sat{
      width: 23%;
  }
  .palm-sat{
      margin-top: -1rem;
      @include phones{
          margin-top: 4rem;
      }
  }
  .cow-sat-img{
      width: 11rem;
      margin-right: 16rem;
      @include tablets{
          width: 8rem;
          margin-right: 7rem;
      }
      @include phones{
          margin-right: 1rem;
      }
  }
  .section__container-btn-link-sat{
      margin-left: 5rem;
  }
  .section-all{
      background: url(../img/all-bc.png) center center / cover no-repeat;
      padding-bottom: 10rem;
      @include phones{
        margin-top: 0rem;
        padding-top: 4rem;
      }
  }
  .all-img{
      width: 30rem;
      @include tablets{
          width: 15rem;
      }
     
  }
  .section__add{
      display: flex;
      flex-direction: row-reverse;
      @include phones{
          flex-direction: column;
      }
  }
  .btn-text-all{
      width: 38%;
  }
  .palm-all{
      margin-top: 3rem;
      margin-left: 5rem;
      margin-right: 6rem;
      @include phones{
       text-align: center;
         
      }
  }
  .cow-all-img{
      width: 20rem;
      @include phones{
          width: 15rem;
      }
  }
  .footer{
    position: relative;
    display: block;
    width: 100%;
    }
    .footer__wrap{
        position: absolute;
        background: url(../img/bc-footer.png)center center / cover no-repeat;
        margin-top: -7rem;
        width: 100%;
        height: 25rem;
        @include tablets{
            height: 26rem;
        }
      
    }

    .footer__wrap-content{
    
      margin: 0 auto;
      margin-top: 7rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 57.75rem;
      min-width: 18.75rem;
      @include tablets{
        margin-right: 1rem;
        margin-left: 3rem;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 4rem;
      }
      
    
    }
    .footer__block-ph{
        @include phones{
            margin-top: 0.7rem
        }
    }
    .footer__block-list{
        list-style: none;
        padding-inline-start: 0px;
    }
    .footer__block-item{
        margin-bottom: 0.3rem;
        color: white;
        font-size: 16px;
        font-family: 'HelveticaRegular', sans-serif;
        @include phones{
            font-size: 14px;
        }
    }
    .footer__block-item-uniqe{
        margin-top: 1.7rem;
        @include phones{
            margin-top: 0.7rem;
        }
    }
    .footer__block-item-link{
        text-decoration: none;
        color: white;
        font-size: 16px;
        font-family: 'HelveticaRegular', sans-serif;
        &:hover{
            text-decoration: underline;
        }
        @include phones{
            font-size: 14px;
        }
    }
    .footer-link-uniqe{
        color: #a6eaed;
        border-radius: 2px;
        border: 2px solid #ebebeb;
        border-radius: 0.3125rem;
        padding: 12px 18px;
        text-decoration: none;
      
        &:hover{
            text-decoration: none;
        }
        @include  phones{
            padding: 8px 12px;
        }
    
    }
    .social{
        display: flex;
        padding-right: 2.5rem;
        align-items: center;
       
    }
    .social-media-text{
        color: white;
        font-size: 16px;
        font-family: 'HelveticaRegular',sans-serif;
      
    }
    .social_list{
    list-style: none;
    display: flex;
    align-items: center;
    padding-inline-start: 0px;
    }
    .social_item{
        margin-right: .8rem;
    }
    
    .footer__wrap-line{
        margin-top: 6rem;
        align-items: center;
        text-align: center;
        color: white;
        font-family: 'HelveticaRegular',sans-serif;
        font-size:12px;
        @include tablets{
            margin-top: 0rem;
            font-size:10px;
            padding-bottom: 0.3rem;
           
        }
    }
    .img-icon{
        width: 2rem;
    }

 